.mine{
		background-color: gray;
		width: 50%;
		height: 70vh;
		position: absolute; top: 10%; right: 30%;
}
.sub{
		background-color: gray;
		width: 98%;
		height: 66vh;
		position: relative; top: 3%; right: -1%;
		border-radius: 10px;
} 
.icon{
		background-color: white;
		width: 16%;
		height: 10vh;
		position: relative; top: 32%; right: -6%;
}
.head{

		width: 50%;
		height: 10vh;
		position: absolute; top: 50%; right: 45%; 
		text-align: center-left;
}
.layout{
		width: 50%;
		height: 3vh;
		position: absolute; top: 65%; right: 45%; 
		text-align: center-left;
}
.input{
		position: absolute; top: 80%; right: 69%; 
}
input[type="email"]{
		width: 100%;
		height: 5vh;
		border-radius: 5px 0px 0px 5px;
		border: 1px solid gray;

}
.subscribe{
	background-color:  yellow;
	position: absolute; top: 80%; right: 49.8%; 
	width: 19%;
	height: 5.5vh;
	border-radius: 0px 5px 5px 0px;
}
a{
		text-decoration: none;
		color: white;
}
p{
		text-align: center;
		padding-bottom: 3px;
		margin: 9px;
		
		font-family: arial black;
}