* {
		box-sizing: border-box;
}
body{
		margin: 0px;
		padding: 0px;
	
}
#container{
		width: 80vw;
		height: 80vh;
		background-color: rgb(206,206,206);
		position: absolute;
		top: 10%;
		right: 10%;
}
.smallbox{
		width: 20%;
		height: 40vh;
		position: absolute;
		top: 10%;
		left: 20%;
		background-color: white;	
		border: 2px solid white;
		border-radius: 10px;
}
.iconic{
		width: 10%;
		height: 3vh;
		position: relative;
		top: 0;
		left: 180px;
		background-color: blue;
		border-radius: 50%;
}
.iconic1{
		width: 50px;
		height: 50px;
		background-color: pink;
		position: relative;
		top: 3px;
		left: 90px;
		border-radius: 40%;
}
.txt1{
		/* background-color: yellow; */
		position: relative; top: -3%; left: 5%;
		width: 90%;
		height: 10vh;
		text-align: center;
		
}
#notnow{
		position: absolute; top: 80%; left: 10%;
		border-radius: 50px;
		border: 1px solid red;
		width: 70px;
		height: 4vh;
	 	color: red;
}
#addnumber{
		position: absolute; top: 80%; left: 50%;
		border-radius: 50px;
		border: 1px solid red;
		width: 90px;
		height: 4vh;
		padding: 0px;
		color: white;
		background-color: pink;
}
.bigbox{
		width: 25%;
		height: 50vh;
		position: absolute;
		top: 30%;
		right: 30%;
		background-color:  white;
		border: 2px solid white;
		border-radius: 10px;
}
.icon{
		width: 10%;
		height: 3vh;
		position: relative;
		top: 0;
		left: 180px;
		background-color: blue;
		border-radius: 50%;
}
.icon2{
		width: 50px;
		height: 50px;
		background-color: pink;
		position: relative;
		top: 3px;
		left: 90px;
		border-radius: 40%;
}
.txt2{
		/* background-color: yellow; */
		position: relative; top: -3%; left: 5%;
		width: 90%;
		height: 10vh;
		text-align: center;
		justify-content: center;
}
.buttom{
		width: 90%;
		height: 10vh;
		/* background-color: yellow; */
		position: absolute;
		top: 65%; left: 5%;
}
input[type=email]{
		width: 100%;
		height: 5vh;
		border-radius: 50px;
		outline: none;
}
input[type=submit]{
		width: 100%;
		height: 5vh;
		border-radius: 50px;
		background-color: pink;
		color: white;
		outline: none;
}